.header {
    width: 100vw;
    height: 20vh;
    background-image: url("../images/fondoDisney.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &__section {
       background-color: aliceblue;
       display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
       width: 90vw;
       height: 5vh;
       position: relative;
       transform: translate(0px, 20px);
     &--input {
           
        }
     &--button {
        background-color: blue;
        color: white;
     }
    }
    
}