@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';
.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70vh;
    background-color: bisque;
    &__section1 {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        background-color: white;
        width: 70vw;
        &--character{
            color: blue;
        }
    }
    &__section2 {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        background-color: white;
        width: 70vw;
        &--favorite{
            color: blue;
        }
    }
}
ul {
    list-style: none;
}
.colorCharacter {
    background-color: bisque;
}
.colorLetter {
    color:rgb(233, 17, 233);
}


